.dashboard-container{
    padding-top: 56px;
}

.image-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container{
    margin-right: 10px;
}
.logo-container >img{
    width: 100px;
    height: 100px;
}

/* ------------- ESTILOS DEL COMPONENTE BANNERTICKET */

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 229, 229);
    padding: 20px;
}
.caja-info{
    background-color: rgb(243, 243, 251);
    margin: 10px 20px;
    padding: 20px;
    border-radius: 10px;
}

.caja-info > h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.caja-info > h6{
    font-size: 25px;
}