.footer-container{
    position: absolute;
    width: 100%;
}
.info-copy-container{
    display: block;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 111, 116);

}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 88, 88);
}
.copyright>p{
    color: rgb(183, 187, 190);
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}